@charset "UTF-8";

/* 共通 */

html {
    font-size: 100%;
}

body {
    color: #333;
    font-family: "inter", sans-serif;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: 0.7
}

.button__shop-white {
    width: 191px;
    height: 56px;
    border: solid #fff 1px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.button__shop-black {
    width: 191px;
    height: 56px;
    border: solid #000 1px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.product {
    width: auto;
    height: auto;
    background-color: #F6F6F6;
    border-radius: 9px;
    text-align: center;
    position: relative;
}

.product__image {
    max-width: 160px;
    margin: 72px auto 16px auto;
}

.product__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
}

.product__price {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}

.icon__heart {
    width: 32px;
    position: absolute;
    top: 24px;
    right: 16px;
}

.button__buy {
    width: 188px;
    height: 44px;
    margin: 0 auto 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
}

.header_lower {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header_lower img {
    width: 6px;
}

.button__pulldown{
    width: 256px;
    height: 40px;
    padding: 0 16px;
    border: solid 0.5px #D4D4D4;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button__pulldown img{
    width: 24px;
}

/* ヘッダー */

.header {
    max-width: 1120px;
    margin: 0 auto;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    min-width: 65.4px;
    margin-right: 10px;
}

.header__search {
    display: flex;
    align-items: center;
    width: 372px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f5f5f5;

}

.header__search input {
    max-width: 372px;
    height: 56px;
    padding: 19px 0;
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: 500;
}

.header__search input::placeholder {
    color: #989898;
}

.header__search button {
    margin: 16px 8px 16px 16px;
    min-width: 24px;
    cursor: pointer;
}

.header__nav {
    width: 369px;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
}

.header__icon_wrap {
    width: 144px;
    display: flex;
    justify-content: space-between;
}

.header__icon {
    width: 32px;
}

/* バナー */

.banner {
    height: 632px;
    background-color: #211C24;
}

.banner__wrap {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff
}

.banner__content {
    margin-right: 10%;
}

.banner__subtitle {
    font-size: 25px;
    font-weight: 600;
    opacity: 40%;
    margin-bottom: 24px;
}

.banner__title {
    font-size: 96px;
    font-weight: 100;
    margin-bottom: 24px;
}

.text__semibold {
    font-weight: 600;
}

.banner__lead {
    font-size: 18px;
    font-weight: 500;
    color: #909090;
    margin-bottom: 24px;
}

.banner__image {
    min-width: 406px;
}

/* カテゴリー */

.category {
    padding: 80px 0;
    height: 352px;
    background-color: #FAFAFA;
}

.category__content {
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.arrow {
    position: absolute;
    max-width: 80px;
    top: 0px;
    right: 0px;
}

.section__title {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 500;
}

.category__list {
    display: flex;
    justify-content: space-between;
}

.category__list img {
    max-width: 160px;
}

/* ホームメニュー */

.home_menu {
    max-width: 1120px;
    margin: 0 auto 56px auto;
}

.home_menu__title {
    margin-bottom: 32px;
    display: flex;
    gap: 32px;
    font-size: 18px;
    font-weight: 500;
}

.home_menu__wrap {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
    gap: 16px;
}

/* ピックアップ */

.pickup {
    max-width: 1440px;
    margin: 0 auto 80px auto;
}

.pickup__wrap {
    display: flex;
}

.pickup__content {
    max-width: 360px;
    height: 640px;
    display: flex;
    flex-direction: column;
}

.f9 {
    background-color: #f9f9f9;
}

.ea {
    background-color: #eaeaea;
}

.c2 {
    background-color: #2c2c2c;
    color: #fff;
}

.pickup__content-img {
    height: 328px;
    margin-bottom: 36px;
}

.pickup__content-explanation {
    margin: 0 32px;
}

.pickup__title {
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 16px;
}

.pickup__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
}

/* 割引 */

.discounts {
    max-width: 1120px;
    margin: 0 auto 56px auto;
}

.discounts__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
}

.discounts__wrap {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(1, auto);
    gap: 16px;
}

/* 商品一覧ページ */

.productspage {
    max-width: 1120px;
    margin: 22px auto 56px auto;
}

.header_lower {
    margin-bottom: 44px;
}

.productspage_left__search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.productspage_left__search img{
    width: 24px;
}

.productspage_left__search input {
    padding: 19px 0;
    background-color: #f5f5f5;
    font-size: 14px;
    font-weight: 500;
}

.productspage_left__search input::placeholder {
    color: #989898;
}

.productspage_left__search button {
    margin: 16px 8px 16px 16px;
    min-width: 24px;
    cursor: pointer;
}

.productspage__wrap {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.productspage_left {
    width: 20%;
}

.productspage_right {
    width: 85%;
}

.productspage_left_title{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.productspage_left_title img{
    width: 24px;
}

.brand__list{
    margin: 16px 0;
}

.brand__list li{
    margin: 8px 0;
}

.productspage_right__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.product__menu-wrap {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    gap: 16px;
    row-gap: 24px;
}

.other_page{
    width: 273px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* フッター */

.footer {
    padding: 104px 0;
    background-color: #000;
}

.footer__content {
    max-width: 1120px;
    margin: 0 auto;
}

.footer__wrap {
    display: flex;
    justify-content: center;
}

.company {
    width: 384px;
    margin-right: 113px;
}

.company .footer__text {
    width: 384px;
    margin-right: 113px;
    line-height: 171%;
}

.company img {
    width: 65.4px;
    margin-bottom: 24px;
}

.services,
.assistance {
    width: 295.5px;
}

.services {
    margin-right: 32px;
}


.footer__text {
    font-size: 14px;
    font-weight: 500;
    color: #CFCFCF;
}

.footer__text-semibold {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.services li,
.assistance li {
    line-height: 40px;
}

.footer__icon_wrap {
    width: 173px;
    display: flex;
    justify-content: space-between;
}

.footer__icon {
    width: 16px;
}